.header {
  height: 5.4rem;
  width: 100%;
  position: sticky;
  left: 0;
  top: 0;
  background-color: #2c2c2c;
  border-bottom: 1px solid #464646;
  font-size: 1.6rem;
}

.header-main {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo,
.logo:link,
.logo:visited {
  font-size: 2.2rem;
  font-weight: 700;
}

.logo:hover,
.logo:active {
  text-shadow: rgb(254, 161, 22, 0.25) 1px 0 6px;
  color: #d9dbdd;
}

.logo-color {
  color: var(--secondary-color);
}

nav,
.nav-list,
.page-active {
  display: flex;
  gap: 1.6rem;
  height: 100%;
}

.nav-list li {
  display: flex;
  align-items: center;
  padding: 0 1.2rem;
  font-weight: 400;
}
.page-active {
  border-bottom: 1px solid var(--secondary-color);
}

.page-active a,
.page-active a:visited,
.page-active a:link {
  color: var(--secondary-color);
  font-weight: 500;
}

.header__menu {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.nav-list .header__menu-close {
  cursor: pointer;
  display: none;
}

.logo-mobile-menu .logo {
  display: none;
}

.header__menu-btn-close {
  height: 3rem;
  position: absolute;
  right: 3rem;
  top: 2rem;
  z-index: 1000;
}

.header__menu-btn {
  cursor: pointer;
  height: 50%;
}

.logo-mobile-menu {
  width: 4rem;
  height: 2rem;
  position: absolute;
  top: 3rem;
  left: 3.6rem;
  z-index: 1000;
  display: none;
}

.nav-list-el .btn-logout {
  background-image: linear-gradient(110deg, #c2255c, #881a40);
  height: 3rem;
}

.disconnect-link {
  display: none;
  font-weight: 500;
}

.logout-icon {
  color: var(--white-color);
  height: 2.2rem;
  width: 2.2rem;
}

@media screen and (max-width: 40em) {
  .nav-list {
    transform: translateX(100%);
    background-color: var(--dark-color-3);
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    padding: 10.8rem 0 6rem;
    font-size: 2rem;
    transition: all 0.6s;
  }
  .open-menu {
    transform: translateX(0%);
  }
  .nav-list .nav-list-el {
    padding: 0.8rem 0;
    width: 25rem;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border-bottom: 1px solid var(--secondary-color);
  }

  .page-active {
    border: none;
  }

  .header__menu {
    display: flex;
  }

  .nav-list .header__menu-close,
  .logo-mobile-menu .logo {
    display: inline-block;
  }
  .nav-list .btn-logout {
    display: none;
  }
  .nav-list .disconnect-link {
    display: inline-block;
    color: #c2255c;
  }
  .nav-list .disconnect {
    border-bottom: none;
  }
}
