.header {
  height: 6.4rem;
  width: 100%;
  position: sticky;
  left: 0;
  top: 0;
  background-color: #2c2c2c;
  border-bottom: 1px solid #464646;
  font-size: 1.6rem;
}

.header-main {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo,
.logo:link,
.logo:visited {
  font-size: 2.2rem;
  font-weight: 700;
}

.logo:hover,
.logo:active {
  text-shadow: rgb(254, 161, 22, 0.25) 1px 0 6px;
  color: #d9dbdd;
}

.logo-color {
  color: var(--secondary-color);
}

.nav-list {
  display: flex;
  gap: 4.8rem;
}
