@import "./main.css";

body {
  display: flex;
  min-height: 100vh;
  background-image: linear-gradient(
      to right,
      rgb(26, 26, 26, 0.9),
      rgb(26, 26, 26, 0.9)
    ),
    url(../images/connect/connect-background.jpg);
}

section {
  display: flex;
  margin: auto;
  flex-direction: row;
  max-width: 144rem;
  padding: 4rem;
  gap: 10rem;
}

.description {
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.4rem;
}

.description h1 {
  font-size: var(--primary-header);
}

.description p {
  font-size: 1.6rem;
  line-height: 1.6;
}

.account-connect {
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
  padding: 4rem 3.6rem;
  border-radius: var(--default-radius);
  min-width: 35%;
  min-height: 38rem;
  width: 45rem;
}

.account-connect__tabs {
  display: flex;
  gap: 1.5rem;
  padding-bottom: 2rem;
}

.account-connect__login {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.account-connect__register {
  display: none;
  flex-direction: column;
  gap:1.5rem;
}

fieldset {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

fieldset>div{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

@media screen and (max-width: 1024px) {
  section {
    flex-direction: column;
    gap: 2rem;

  }

  .account-connect {
    margin-left: auto;
    margin-right: auto;
    width: 40rem;
    max-width: 90vw;
  }
}