@import "./main.css";

body {
  display: flex;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      to right bottom,
      rgb(39, 39, 39, 0.85),
      rgb(26, 26, 26, 0.95)
    ),
    url(../images/connect/trevor-vannoy-UNzohJgG8W0-unsplash.jpg);
  position: relative;
}

section {
  display: flex;
  margin: auto;
  flex-direction: row;
  max-width: 144rem;
  padding: 4rem;
  gap: 10rem;
}

.logo-component {
  position: absolute;
  padding: 4rem 8.6rem;
}

.logo-component .logo {
  font-size: 2.6rem;
}

.description {
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.4rem;
}

.description h1 {
  font-size: var(--primary-header);
}

.description p {
  font-size: 1.6rem;
  line-height: 1.6;
}

.account-connect {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  /* background-image: linear-gradient(
    to right bottom,
    rgba(85, 52, 3, 0.12),
    rgba(70, 43, 2, 0.14)
  ); */
  /* background-color: rgb(255, 255, 255); */
  padding: 4rem 3.6rem;
  border-radius: var(--default-radius);
  min-width: 35%;
  height: 38rem;
  width: 45rem;
}

.account-connect__tabs {
  display: flex;
  gap: 1.5rem;
  padding-bottom: 2rem;
}

.account-connect__login {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.account-connect__register {
  display: none;
  flex-direction: column;
  gap: 1.5rem;
}

input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--primary-color);
  border-radius: 0;
  color: var(--light-color);
  transition: all 0.3s;
}

input:focus {
  border-bottom: 1px solid var(--secondary-color);
}

fieldset {
  display: flex;
  flex-direction: row;
  border: none;
  gap: 1.5rem;
  font-size: 1.4rem;
  color: var(--semilight-color);
}

fieldset > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

@media screen and (max-width: 1024px) {
  section {
    flex-direction: column;
    gap: 2rem;
  }

  .account-connect {
    margin-left: auto;
    margin-right: auto;
    width: 40rem;
    max-width: 90vw;
  }
}
