@import "./header.css";
:root {
  /* colors */
  --white-color: #fff;
  --primary-color: #1da09c;
  --primary-gradient: linear-gradient(120deg, #1da09c, #4ab3b0);
  --secondary-color: #fea116;
  --error-color: red;
  --dark-color: #222;
  --dark-color-2: #313131;
  --dark-color-3: #282828;
  /* font colors */
  --light-color: #f1f3f5;
  --semilight-color: #c1c2c4;

  /* radiuses  */
  --default-radius: 0.6rem;
  --rounded-radius: 10rem;

  /* font-size */
  /* header */
  --primary-header: 3.2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--dark-color);
  color: var(--light-color);
}

input {
  height: 4rem;
  border-radius: var(--default-radius);
  outline: none;
  padding: 0 1.2rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

ul {
  list-style: none;
}

select {
  background-color: var(--dark-color-2);
  border: none;
  outline: none;
  color: var(--light-color);
  padding: 0.8rem 1.2rem;
  border-radius: 6px;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: var(--semilight-color);
  transition: all 0.3s;
}

a:hover,
a:active {
  cursor: pointer;
  color: var(--light-color);
}

.container {
  max-width: 128rem;
  padding: 0 4rem;
  margin: 0 auto;
}

.btn {
  outline: none;
  border: none;
  color: var(--white-color);
  padding: 1rem 2rem;
  cursor: pointer;
  border-radius: var(--rounded-radius);
  width: fit-content;
  font-weight: 500;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-primary {
  background-color: var(--primary-color);
}

.btn-secondary {
  background-color: var(--secondary-color);
}

.btn-outline-primary {
  /* background-color: var(--white-color); */
  background-color: transparent;
  color: var(--primary-color);
  border: 0.1rem solid var(--primary-color);
}

.btn-outline-secondary {
  background-color: transparent;
  /* background-color: var(--white-color); */
  color: var(--secondary-color);
  border: 0.1rem solid var(--secondary-color);
}

.error {
  color: var(--error-color);
  font-size: 1.2rem;
  /* opacity: 0; */
}

.header-secondary {
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 2.4rem;
  margin-bottom: 1.2rem;
}

.flex {
  display: flex;
}

.gap-sm {
  gap: 1rem;
}

.grid {
  display: grid;
}

.grid--2 {
  grid-template-columns: 3fr 1fr;
  column-gap: 3.2rem;
}

.margin-top-sm {
  margin-top: 3.2rem;
}

.margin-top-md {
  margin-top: 5.4rem;
}

.margin-bt-bg {
  margin-bottom: 9.6rem;
}
