@import "./main.css";
.problems__table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 1.4rem;
  width: 100%;
  margin-bottom: 3.2rem;
}

.problems-grid {
  grid-template-columns: 3fr 1fr;
  column-gap: 3.2rem;
}

.problems__table thead tr {
  border-bottom: 1px solid #767676;
}

.problems__table thead th {
  font-weight: 500;
}

.problems__table th {
  text-align: start;
  font-weight: 400;
  padding: 1.2rem;
}

.problems__table tbody tr:nth-child(even) {
  background-color: var(--dark-color-2);
}

.problems__tags {
  background-color: var(--dark-color-3);
  width: 100%;
  padding: 2rem 1rem;
  height: fit-content;
  border-radius: 0.5rem;
  margin-top: 5rem;
}
.problems__tags h2 {
  font-size: 1.6rem;
  font-weight: 500;
}

.problems__tags input {
  width: 100%;
  background-color: var(--dark-color-2);
  color: var(--white-color);
}

.problems__tags-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}

.problems__tags-wrapper > button {
  display: flex;
  align-items: center;
  background-color: var(--dark-color-2);
  color: var(--white-color);
  border: none;
  padding: 0.5rem 0.7rem;
  border-radius: 10rem;
  gap: 1rem;
  cursor: pointer;
}

.problems__tags-wrapper > button > span {
  background-color: var(--secondary-color);
  border-radius: 10rem;
  padding: 0.1rem 0.5rem;
  font-size: 1rem;
  color: var(--dark-color-3);
}

.status-icon {
  height: 2rem;
  stroke: var(--primary-color);
}

.problems-pagination {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
}

.problems-pagination li {
  background-color: var(--dark-color-2);
  border-radius: var(--default-radius);
  font-size: 1.4rem;
}
.problems-pagination li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.2rem;
  height: 3.2rem;
}

.problems-pagination .pagination-page-active {
  background-color: #444;
}

.pagination-page-active a {
  color: #fff;
}

.pagination-arrow {
  height: 2rem;
}

.problems__filter-tab {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.problems__filter-tab li {
  height: 3.2rem;
}

.problems__filter-tab select {
  height: 100%;
}

select option:disabled {
  display: none;
}

.problems__filter-tab input {
  background-color: transparent;
  border: none;
  color: var(--white-color);
  height: 100%;
  padding: 0 1rem 0 0;
}

.filter__search-tab {
  display: flex;
  align-items: center;
  background-color: var(--dark-color-2);
  border-radius: var(--default-radius);
}

.search-icon {
  flex-shrink: 0;
  height: 1.6rem;
  padding: 0 1rem;
}

.pick-one {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1rem;
  cursor: pointer;
}
.pick-one span {
  color: var(--primary-color);
  font-size: 1.4rem;
}

.btn-pick {
  height: 100%;
  width: 3.2rem;
  padding: 0;
  border-radius: 50%;
  background-color: var(--primary-color);
}

.pick-one-icon {
  height: 2.2rem;
}

@media screen and (max-width: 57em) {
  .problems-grid {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 43em) {
  .problems__filter-tab input {
    width: 100%;
  }
  .problems__filter-tab {
    gap: 1rem;
  }
  .pick-one {
    flex-shrink: 0;
  }
  table tr th:first-child {
    display: none;
  }
  .pick-one span {
    display: none;
  }
}
