@import "./main.css";
.add-homework-wrapper {
  display: grid;
  grid-template-columns: 1fr 4.5fr;
  column-gap: 8rem;
  margin-bottom: 5.4rem;
}

.add-homework__block {
  background-color: var(--dark-color-3);
  border-radius: var(--default-radius);
  padding: 2.4rem;
}

.add-problems__time p {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

#homework-form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

#homework-form .titlu-tema {
  background-color: #262626;
  width: 100%;
  border: none;
  padding: 2rem;
  height: 100%;
  color: var(--color-white);
  outline: none;
}

.btn-add-homework {
  height: 8rem;
  width: 20rem;
  border-radius: var(--default-radius);
}

.add-homework-icon {
  height: 2rem;
  margin-right: 1rem;
}

.checked-icon {
  height: 1.8rem;
}

.problem-info {
  width: 100%;
  display: flex;
}

.problems__table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 1.4rem;
  width: 100%;
}

.problems__table thead tr {
  border-bottom: 1px solid #767676;
}

.problems__table thead th {
  font-weight: 500;
  color: var(--secondary-color);
}

.problems__table th {
  text-align: start;
  font-weight: 400;
  padding: 1.2rem;
}

.checked .checked-icon {
  color: var(--primary-color);
}

#homework-form p,
.pending-problems-header {
  margin-left: 0.4rem;
  font-size: 1.4rem;
  font-weight: 400;
}

#problems-list tr {
  cursor: pointer;
  border-radius: var(--default-radius);
  transition: all 0.3s;
}

#problems-list tr:hover {
  background-color: #313131;
}

#problems-list .checked {
  background-color: #313131;
}
.add-problem-section {
  margin-top: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-add-problem {
  font-size: 1.4rem;
  color: var(--color-white) !important;
}

.problem-link {
  color: var(--light-color);
}

.filter__search-tab {
  display: flex;
  align-items: center;
  background-color: var(--dark-color-2);
  border-radius: var(--default-radius);
  height: 3.2rem;
}

.filter__search-tab input {
  height: 100%;
  padding: 1rem;
  background-color: transparent;
  outline: none;
  border: none;
  color: var(--light-white);
}

.search-icon {
  flex-shrink: 0;
  height: 1.6rem;
  padding: 0 1rem;
}

.pending-pr {
  padding: 2rem;
  margin-bottom: 1.6rem;
  width: 100%;
  height: 100%;
  border-radius: var(--default-radius);
  background-color: #2c2c2c;
  font-size: 1.6rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.pending-pr span {
  color: #767676;
}

.pending-problems-header {
  display: none;
}

.pending-problems-info {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.delete-problem {
  padding: 0.1rem;
  background-color: transparent;
  display: none;
  transition: all 0.2s;
  color: #767676;
}
.delete-problem:hover {
  color: #c2255c;
}

.delete-problem__icon {
  height: 1.6rem;
}

.pending-pr:hover .delete-problem {
  display: flex;
}

@media screen and (max-width: 60em) {
  .add-homework-wrapper {
    grid-template-columns: 1fr;
    margin-bottom: 5.4rem;
    gap: 2rem;
  }
  .btn-add-homework {
    width: 100%;
    height: 6rem;
  }
}
@media screen and (max-width: 40em) {
  .add-problem-section p {
    display: none;
  }
}
@media screen and (max-width: 35em) {
  .add-problem-section p {
    display: none;
  }
  table tr th:nth-child(4) {
    display: none;
  }
  .filter__search-tab {
    flex-grow: 1;
    width: 8rem;
  }
  .add-problem-section {
    justify-content: flex-start;
    gap: 1.6rem;
  }
  .add-problem-section input {
    width: 100%;
  }
}
