@import "./main.css";
body {
  position: relative;
  min-height: 100vh;
}

.class-wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 3.2rem;
}

.class-members,
.class-content {
  padding: 3rem;
  border-radius: var(--default-radius);
  background-color: var(--dark-color-3);
  flex-direction: column;
  gap: 2rem;
}
.class-members-section h2,
.add-member h2 {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.member-icon,
.add-member-icon {
  height: 1.8rem;
  margin-right: 0.5rem;
  color: var(--secondary-color);
}

.add-member-icon {
  height: 2rem;
}

.class-members-list {
  line-height: 1.8;
  font-size: 1.4rem;
  list-style: disc;
  margin-bottom: 2rem;
}

.class-members-list li {
  margin-left: 2rem;
}
#member-form {
  display: flex;
  gap: 0.6rem;
}

#member-form input {
  height: 3.6rem;
  margin-bottom: 1.2rem;
  background-color: #2c2c2c;
  border: 1px solid #464646;
  color: var(--light-color);
}
#member-form .btn-add-member {
  height: 3.6rem;
  width: 3.6rem;
  padding: 0;
}
.btn-add-member-icon {
  height: 2rem;
}

.class-content__title {
  font-size: 2rem;
  /* position: relative; */
}

.class-content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  border-bottom: 2px solid var(--secondary-color);
  padding-bottom: 2rem;
}

.class-content-header__right {
  display: flex;
  align-items: center;
}

.delete-icon {
  height: 1.8rem;
  color: var(--light-color);
  transition: all 0.25s;
}

.delete-btn {
  padding: 0;
  height: 3rem;
  width: 3rem;
  background-color: transparent;
  transition: all 0.25s;
}
.delete-btn:hover {
  background-color: #2c2c2c;
}
.delete-btn:hover .delete-icon {
  color: #c2255c;
}

.popup-delete {
  display: none;
  position: absolute;
  top: 5.4rem;
  left: 0;
  z-index: 100;
  width: 100%;
  height: calc(100vh - 5.4rem);
  background-color: rgb(44, 44, 44, 0.7);
  /* display: flex; */
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

.popup-delete__content {
  width: 40rem;
  padding: 5rem;
  background-color: #252525;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  position: relative;
}
.popup-delete__qst {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 2.4rem;
}
.popup-delete__btns {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.btn-delete {
  border-radius: var(--default-radius);
  padding: 0.6rem 1.8rem;
  background-color: #2c2c2c;
}

.btn-delete__confirm {
  color: #c2255c;
}

.btn-delete__reject {
  color: #1da09c;
}

.close-icon {
  position: absolute;
  right: 1rem;
  top: 1rem;
  height: 1.6rem;
  transform: rotate(0);
  transition: all 0.3s;
  color: var(--semilight-color);
}
.close-icon:hover {
  cursor: pointer;
  color: var(--white-color);
  transform: rotate(90deg);
}

.error-delete {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  bottom: 2rem;
  color: red;
  font-size: 1.1rem;
}
