@import "./main.css";

.class-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  margin-top: 5.2rem;
}

.class-container a {
  height: 18rem;
  border-radius: 1rem;
  width: 100%;
  font-size: 2.2rem;
  border: 1px solid #464646;
  color: #fff;
}

.class-container .class-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2c2c2c;
}

.add-class-icon {
  width: 3.2rem;
  height: 3.2rem;
  margin-right: 1.6rem;
}

.default-message {
  width: 100%;
  font-size: 2.4rem;
  text-align: center;
  color: #aaa;
}

@media screen and (max-width: 54em) {
  .class-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
}
@media screen and (max-width: 36em) {
  .class-container {
    grid-template-columns: 1fr;
    gap: 2.4rem;
  }
  .class-container .btn-create-class {
    height: 10rem;
    margin-bottom: 0.6rem;
  }

  .class-container .class-link {
    height: 14rem;
  }
}
