@import "./main.css";
body {
  position: relative;
  min-height: 100vh;
}

.homework-wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 3.2rem;
  margin-bottom: 5.4rem;
}
.homework-eval {
  height: fit-content;
}

.homework-eval,
.homework-content {
  padding: 3rem;
  border-radius: var(--default-radius);
  background-color: var(--dark-color-3);
  flex-direction: column;
  gap: 2rem;
}
.eval-section h2,
.add-member h2 {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.eval-icon {
  height: 1.8rem;
  margin-right: 0.5rem;
  color: var(--secondary-color);
}

.homework-content__title {
  font-size: 2rem;
}

.homework-content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  border-bottom: 2px solid var(--secondary-color);
  padding-bottom: 2rem;
  margin-bottom: 2.2rem;
}

.homework-content-header__right {
  display: flex;
  align-items: center;
}

.delete-icon {
  height: 1.8rem;
  color: var(--light-color);
  transition: all 0.25s;
}

.delete-btn {
  padding: 0;
  height: 3rem;
  width: 3rem;
  background-color: transparent;
  transition: all 0.25s;
}
.delete-btn:hover {
  background-color: #2c2c2c;
}
.delete-btn:hover .delete-icon {
  color: #c2255c;
}

.popup-delete {
  display: none;
  position: absolute;
  top: 5.4rem;
  left: 0;
  z-index: 100;
  width: 100%;
  height: calc(100vh - 5.4rem);
  background-color: rgb(44, 44, 44, 0.7);
  /* display: flex; */
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

.popup-delete__content {
  width: 40rem;
  padding: 5rem;
  background-color: #252525;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  position: relative;
}
.popup-delete__qst {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 2.4rem;
}
.popup-delete__btns {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.btn-delete {
  border-radius: var(--default-radius);
  padding: 0.6rem 1.8rem;
  background-color: #2c2c2c;
}

.btn-delete__confirm {
  color: #c2255c;
}

.btn-delete__reject {
  color: #1da09c;
}

.close-icon {
  position: absolute;
  right: 1rem;
  top: 1rem;
  height: 1.6rem;
  transform: rotate(0);
  transition: all 0.3s;
  color: var(--semilight-color);
}
.close-icon:hover {
  cursor: pointer;
  color: var(--white-color);
  transform: rotate(90deg);
}

.error-delete {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  bottom: 2rem;
  color: red;
  font-size: 1.1rem;
}

.homework-problems li,
.homework-solutions li {
  margin-bottom: 1.6rem;
  width: 100%;
  border-radius: var(--default-radius);
  background-color: #2c2c2c;
  font-size: 1.6rem;
  overflow: hidden;
}

.homework-problems li a,
.homework-solutions li a,
.student-list li a {
  display: inline-block;
  padding: 2rem;
  width: 100%;
  height: 100%;
}

.problems-section h2,
.solutions-section h2,
.student-list h2 {
  margin-bottom: 1.6rem;
}

.student-name {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--secondary-color);
}
.student-list {
  background-color: transparent !important;
  border-radius: 0 !important;
}
.student-list:not(:last-child) {
  border-bottom: 1px solid #444 !important;
}

.solution-line .solution-link,
.homework-problems .problem-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.eval-content {
  font-size: 1.8rem;
}

@media screen and (max-width: 52.5em) {
  .homework-wrapper {
    grid-template-columns: 1fr;
  }
  .homework-eval {
    margin-bottom: 3rem;
  }
}
